# ============================
# Python / Django
# ============================
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django specific
server/db.sqlite3
server/media/
server/__pycache__/
server/*.pyc
server/static
server/staticfiles
server/templates

# Virtual environments
venv/
.venv/
ENV/
server/venv/

# Environment variables
.env
.env.*
server/.env*
client/.env*

# ============================
# Node / React (Vite)
# ============================
client/node_modules/
client/dist/

# ============================
# OS / Editor junk
# ============================
.DS_Store
Thumbs.db
*.log

# Docker
*.pid
*.sock
*.tar
*.log
__pycache__/