services:
  # DESENVOLVIMENTO
  backend_dev:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - server/.env
    command: >
      sh -c "pip install -r requirements.txt &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    profiles:
      - dev

  client_dev:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://localhost:8000
    profiles:
      - dev

  # PRODUÇÃO
  backend_prod:
    build:
      context: .
      dockerfile: server/Dockerfile
    volumes:
      - ./server/media:/app/media
      - ./server/db:/app/db
    ports:
      - "8000:8000"
    env_file:
      - server/.env
    command: >
      sh -c "python manage.py migrate &&
            gunicorn -w 4 --bind 0.0.0.0:8000 config.wsgi:application"
    profiles:
      - prod

  https-portal:
    image: steveltn/https-portal:1
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAINS: "ricktadeu.com.br -> http://backend_prod:8000, www.ricktadeu.com.br -> http://backend_prod:8000"
      STAGE: "production"
      NGINX_CONF_OVERRIDE: |
        client_max_body_size 100M;
        proxy_read_timeout 300s;
        proxy_connect_timeout 300s;
        proxy_send_timeout 300s;
    volumes:
      - https-portal-data:/var/lib/https-portal
    depends_on:
      - backend_prod
    profiles:
        - prod

volumes:
  https-portal-data: