services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rick-app
    restart: unless-stopped
    env_file:
      - ./server/.env.production
    volumes:
      - backend-uploads:/app/uploads
    ports:
      - "3000:3000"

volumes:
  backend-uploads:
